html {
  color: black;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
}

.mensura {
  grid-area: 1 / 1 / 2 / 2;
}

.valuaciones {
  grid-area: 2 / 1 / 3 / 2;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.elemento label {
  display: flex;
  width: 200px;
  justify-content: center;
}

.elemento input[type="number"] {
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid grey;
  outline: none;
  font-size: 13px;
  justify-content: center;
  display: flex;
  width: 200px;
}

input[type="checkbox"] {
  width: 180px;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 1rem 1.5rem;
  margin-top: 23px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: semibold;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: 0.5rem 0.5rem 1rem #ccc, -0.5rem -0.5rem 1rem #fff;
  background-color: transparent;
  border: 2px solid #eee;
  border-radius: 0.5rem;
  color: #444;
}

.btn:hover {
  transform: translate(0, -6px);
  box-shadow: 0.5rem 0.5rem 1rem #fff, -0.5 -0.5 1rem #ccc;
}

button :active {
  box-shadow: inset 0.2rem 0.2rem 1rem #fff, inset -0.2rem -0.2rem 1rem #ccc;
}

.calcular-btn {
  background-color: #2a8acf;
  color: beige;
}

.borrar-btn {
  background-color: #e51a1a;
  color: beige;
}
.recalcular-btn {
  background-color: darkgoldenrod;
  color: whitesmoke;
}

.tabla {
  width: 180%;
  border-collapse: collapse;
  font-family: Arial;
  background-color: #4742425b;
}

thead {
  background-color: rgba(95, 86, 74, 0.274);
  border-bottom: solid;
  color: whitesmoke;
}

.tabla th,
.tabla td {
  padding: 3px;
  text-align: center;
  border-bottom: 2px solid gray;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 180%;
  margin-right: 8px;
  background-color: rgb(50, 59, 66);
  font-family: "Franklin Gothic Medium";
  color: #ccc;
}

.ventana-emergente {
  display: none;
  position: fixed;
  top: 40;
  left: 250;
  width: 40%;
  height: 80%;
}

.contenido-ventana {
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
}

.containerResultados {
  display: none;
}

.container-resultados {
  display: none;
}

.recalcular-btn {
  display: none;
}
